<h2>Professional Information</h2>
<h3>Resume</h3>
<p> Link to my resume on Linkedin.</p> 
<%= link_to "Resume", "http://www.linkedin.com/profile/view?id=103024036" %>
<h3>Projects</h3>
<p>Here's some projects I have played critical roles on or actively create and maintain</p>
<%= link_to "TurboTax Live Community", "http://ttlc.intuit.com"%></br>
<%= link_to "JD's Revenge", "http://dszydlowski.com" %></br>
<%= link_to "JD's Revenge", "http://jdrevenge.com" %></br>
<%= link_to "CyclePirates", "http://cyclepirates.com" %></br>
<%= link_to "NKB Motorcycles", "http://nkbmotorcycles.com"%></br>
<h3>Git</h3>
<p> Coding examples, including the code to this site. </p>
<%= link_to "GitHub", "https://github.com/ramen74/dps" %>

