<h2><%= t "professional.title"%></h2>

<h3><%= t "professional.resume_subtitle" %></h3>
<p> <%= t "professional.resume_paragraph" %></p> 
<%= link_to t("professional.resume_subtitle"), "http://www.linkedin.com/profile/view?id=103024036" %>

<h3><%= t "professional.projects_subtitle"%></h3>
<p><%= t "professional.projects_paragraph"%></p>
<p><%= t 'professional.projects.ttlc' %></p>
<%= link_to "TurboTax Live Community", "http://ttlc.intuit.com"%></br>
<p><%= t 'professional.projects.dps' %></p>
<%= link_to "dszydlowski", "http://dszydlowski.com" %></br>
<p><%= t 'professional.projects.jdr' %></p>
<%= link_to "JD's Revenge", "http://jdrevenge.com" %></br>
<p><%= t 'professional.projects.cp-nkb' %></p>
<%= link_to "CyclePirates", "http://cyclepirates.com" %></br>
<%= link_to "NKB Motorcycles", "http://nkbmotorcycles.com"%></br>

<h3><%= t "professional.git_subtitle"%></h3>
<p> <%= t "professional.git_paragraph"%></p>
<%= link_to "GitHub", "https://github.com/ramen74/dps" %>

