<div class="grid_12 box min_height_100"><div class="liner">
	<%= render :partial => 'about_me' %>
</div></div>

<div class="grid_6 box min_height_600"><div class="liner">
<%= render :partial => 'pro_info' %>
</div></div>

<div class="grid_6 box"><div class="liner">
	<%= render :partial => 'contact' %>
</div></div>

<div class="grid_6 box"><div class="instagram liner">
	<%= render :partial => 'instagram' %>
</div></div>

<div class="grid_6 box min_height"><div class="liner">
<%= render :partial => 'color_palette' %>
</div></div>

<div class="clear"></div>

<div class="grid_6 box"><div class="liner">
	<%= render :partial => 'twitter' %>
</div></div>
