<div class="grid_12 box min_height_100"><div class="liner">
	<p>
	I am a developer and system engineer who is currently trying to make a life in Tokyo, Japan. This is my web site. It has some info about me, and from time to time will be a place for me to do some experiments...
	<br/>
	If you've arrived at this page.. it is extremely early in it's development. As a matter of fact is just really a place holder at this point...	
	</p>
</div></div>

<div class="grid_6 box min_height_600"><div class="liner">
<%= render :partial => 'pro_info' %>
</div></div>

<div class="grid_6 box"><div class="liner">
	<%= render :partial => 'contact' %>
</div></div>

<div class="grid_6 box"><div class="instagram liner">
	<%= render :partial => 'instagram' %>
</div></div>

<div class="grid_6 box min_height"><div class="liner">
<%= render :partial => 'color_palette' %>
</div></div>

<div class="clear"></div>

<div class="grid_6 box"><div class="liner">
	<%= render :partial => 'twitter' %>
</div></div>
