<!DOCTYPE html>
<html>
<head>
  <title>Derek Szydlowski</title>

 
  <%#= stylesheet_link_tag    "reset"%>
  <%#= stylesheet_link_tag    "960"%>
  <%#= stylesheet_link_tag    "main" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="keywords" content="Derek Szydlowski, szydlowski, rails,  ruby, engineer, tokyo, web development, hosting, deployment, biking, snowboarding." />
  <meta name="description" content="Derek Szydlowski is a ROR system's engineer and developer living and breathing in Tokyo" />


  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35320148-1']);
    _gaq.push(['_setDomainName', 'dszydlowski.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>

<div id="main_container" class="container_12">
    <div class="grid_4" id="header"  onclick="location.href='/main/index';" style="cursor: pointer;">
    <%=  image_tag "derek_face_rnd_sep.png" %> 
    </div>
    <div class="grid_8">
	
	
	
	  <%=  image_tag "derek_szydlowski_sepia.png" %> 
      <h2><%= t('layout.alt_name') %></h2> 
      <ul class="nav pull-right">
        <%#= link_to  "us", {:locale => :en},{ :class => 'us'} %>
        <%= link_to image_tag("old_us.png", :border=>0), :locale => :en %>
        <%= link_to image_tag("old_jpn.png", :border=>0), :locale => :ja %>
      </ul>
    </div>
  <!-- </div> -->
	
  <%= yield %>
</div>

</body>
</html>
